.admin-container {
    display: flex;

    .admin-sidebar {
        .pro-sidebar {
            height: 100vh !important;
        }
    }

    .admin-content {
        flex: 1;
        padding: 10px;
    }

    .admin-fabars {
        font-size: 20px;
        padding: 0 10px;
        cursor: pointer;
    }

    .sidebarHeader-title {
        display: flex;
        align-items: center;
    }
}